<header class="flex justify-between xl:flex-row flex-col-reverse gap-y-20 items-center py-3 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full size-40 xl:size-20 outline outline-1" src="../public/saulEVG&cafe.jpeg" alt="SaulEVG photo" srcset="">
    <nav class="flex flex-row gap-x-10 opacity-80 font-bold">
        <a class="hover:text-emerald-200 hover:bg-emerald-900 hover:bg-opacity-15 hover:rounded-sm  lg:text-lg text-sm" href="/">Home</a>
        <a class="hover:text-emerald-200 hover:bg-emerald-900 hover:bg-opacity-15 hover:rounded-sm  lg:text-lg text-sm" href="/about">About</a>
        <a class="hover:text-emerald-200 hover:bg-emerald-900 hover:bg-opacity-15 hover:rounded-sm  lg:text-lg text-sm" href="#experiences">Experiences</a>
        <a class="hover:text-emerald-200 hover:bg-emerald-900 hover:bg-opacity-15 hover:rounded-sm  lg:text-lg text-sm" href="/projects">Projects</a>
        <a class="hover:text-emerald-200 hover:bg-emerald-900 hover:bg-opacity-15 hover:rounded-sm  lg:text-lg text-sm" href="/contact">Contact</a>
    </nav>
</header>