<header class="flex justify-between items-center py-3 w-[1120px]">
    <img class="rounded-full w-20 h-20" src="../public/saulEVG&cafe.jpeg" alt="SaulEVG photo" srcset="">
    <nav class="flex flex-row gap-x-40">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>