---
import faviconS from "/public/S.png";
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource-variable/source-code-pro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html
  lang="en"
  class="scroll-smooth absolute top-0 z-[-2] h-screen w-full bg-no-repeat
 bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="svg" href={"/public/S.png"} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family:
      Source Code Pro Variable,
      sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
